# Drizzle
DATABASE_URL="yout-database-url"

# Next Auth
NEXTAUTH_SECRET="your-secret"
NEXTAUTH_URL="your-url"

# Next Auth Twitch Provider
TWITCH_CLIENT_ID="your-client-id"
TWITCH_CLIENT_SECRET="your-client-secret"
